* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  /* align-items: center;
  justify-content: center; */
}
.container {
  display : flex;
  /* gap : 10px; */
  /* padding:20px; */
  height : 90vh;
  /* width: 100%; */
  /* border : 1px solid #ddd; */
  /* border-radius: 10px; */
}
.panel {
  position: relative;
  flex : 0.5;
  padding: 10px;
  height: 80vh;
  margin: 10px;
  border-radius: 50px;
  color:#fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: flex 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.panel h3 {
  font-size: 1.5em;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  /* text-align : left; */
  /* padding: 1px; */
  opacity: 0;
}
.panel.active {
  flex: 5
}
/* title transition seperately */
.panel.active h3 {
  opacity : 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width : 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }

}