.container {
  display : flex;
  /* flex-direction: column; */
  gap : 10px;
  padding:20px;
  height : 100vh;
  /* width: 100%; */
  /* border : 1px solid #ddd; */
  /* border-radius: 10px; */
}
.panel {
  position: relative;
  flex : 1;
  /* display: flex; */
  padding: 10px;
  border-radius: 15px;
  transition: flex 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
h3 {
  position: absolute;
  bottom: 5px;
  text-align : left;
  padding: 1px;
}
.panel.active {
  flex:10
}